header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
  color: #344c87;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #18294f;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.search-form-button:hover {
  cursor: pointer;
}
